/Windows/CSharpProject/CarEyeMap/.vs
/Windows/CSharpProject/CarEyeMap/CarEyeMap/bin
/Windows/CSharpProject/CarEyeMap/CarEyeMap/obj
/Windows/CSharpProject/CarEyeMap/CarEyeMap.Demo/bin
/Windows/CSharpProject/CarEyeMap/CarEyeMap.Demo/obj
/Windows/CSharpProject/CarEyeClient/.vs
/Windows/CSharpProject/CarEyeClient/CarEyeClient/bin
/Windows/CSharpProject/CarEyeClient/CarEyeClient/obj
